html {
	background: #018DED;
	background-size: cover;
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 2rem;
	display:flex;
	flex:1;
	min-height: 100vh;
	align-items: center;
}

.clock {
	margin:50px auto;
	padding:2rem;
	height: 30rem;
	width: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	border-color: white;
	position: relative;
}

.clock-face {
	/*border: 1px solid;*/
	position: relative;
	width: 100%;
	height: 100%;
	
}

.hand {
	background: black;
	position :absolute;
	top: 50%;

	height: 0.2rem;
	width: 15rem;
	transform-origin: 100%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0, 0, 0.06, 2.04);
}
.min-hand {
	height: 0.4rem;
	width: 12rem;
	left: 3rem;
}
.hour-hand {
	height: 0.6rem;
	width: 10rem;
	left: 5rem;
}
.numbers {
	text-align: center;
	position: absolute;
	top: 0px;
	left: 50%;
	height: 50%;
	transform-origin: 0% 100%;
}
.number {
	text-align: center;
	/*width: 0px;*/

}
